<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010397900421-bkgblb97dvso48lphu9ofvf700pkt06c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010397900421-bkgblb97dvso48lphu9ofvf700pkt06c</string>
	<key>API_KEY</key>
	<string>AIzaSyBRFxIp6V_sCzzvrFpxZVtiqo4ZSz6SfZY</string>
	<key>GCM_SENDER_ID</key>
	<string>1010397900421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mohamed-osama.livechat</string>
	<key>PROJECT_ID</key>
	<string>livechat-d796f</string>
	<key>STORAGE_BUCKET</key>
	<string>livechat-d796f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010397900421:ios:9e487cc1151a6ed08bc3ec</string>
	<key>DATABASE_URL</key>
	<string>https://livechat-d796f.firebaseio.com</string>
</dict>
</plist>